<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
   <filter>
       <filter-name>CharsetFilter</filter-name>
       <filter-class>cn.fingerdata.filter.CharsetFilter</filter-class>
   </filter>
   <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
   </filter-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>addCusServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.addCusServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CusViewSrevlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CusViewSrevlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CusViewServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CusViewServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.ListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ListCusServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.ListCusServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CusListServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CusListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.InterServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>addCusServlet</servlet-name>
    <url-pattern>/addCusServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CusViewSrevlet</servlet-name>
    <url-pattern>/CusViewSrevlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListCusServlet</servlet-name>
    <url-pattern>/ListCusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CusListServlet</servlet-name>
    <url-pattern>/CusListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterServlet</servlet-name>
    <url-pattern>/InterServlet</url-pattern>
  </servlet-mapping>
 
 <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 
</web-app>