<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
   
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>addCusServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.addCusServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CusViewSrevlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CusViewSrevlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CusViewServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CusViewServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.ListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ListCusServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.ListCusServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CusListServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CusListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.InterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerS</servlet-name>
    <servlet-class>cn.fingerdata.action.CustomerS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectS</servlet-name>
    <servlet-class>cn.fingerdata.action.CollectS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.CollectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IntAnalyS</servlet-name>
    <servlet-class>cn.fingerdata.action.IntAnalyS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IntAnalyServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.IntAnalyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataCusS</servlet-name>
    <servlet-class>cn.fingerdata.action.DataCusS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataCusServlet</servlet-name>
    <servlet-class>cn.fingerdata.action.DataCusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FinData</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.xxx.servlet.FinData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FprCapMain</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.xxx.servlet.FprCapMain</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFinType</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.xxx.servlet.ListFinType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ajax</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.xxx.utils.ajax</servlet-class>
  </servlet>

 <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 
</web-app>